
.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 238, 30);
    color: black;
    height: 20vh;
}

.container{
    display: flex;
    justify-content: center;
    height: 60vh;
    width: 100%;
    color: white;
}

.banner-1{
    flex-grow: 1;
    background-color: rgb(136, 24, 24);   
}

.banner-2{
    flex-grow: 1;
    background-color: rgb(8, 8, 99);
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 35, 163);
    color: rgb(252, 252, 252);
    height: 20vh;
}